[Desktop Entry]
Type=Application
Name=Secret Storage Service
Comment=GNOME Keyring: Secret Service (disabled for kiosk autologin)
Exec=/bin/true
Hidden=true
X-GNOME-Autostart-enabled=false
