# --- Snippet untuk /boot/firmware/config.txt ---
# Tambah atau pastikan dalam bahagian [all] (atau bahagian yang sesuai).
# Jangan gantikan seluruh fail; hanya tambah/ubah baris berikut.

disable_overscan=1
disable_splash=1
hdmi_force_hotplug=1
hdmi_group=2
hdmi_mode=82
